<h1>Hey Business Guy</h1>
<p>
  Look up your favourite stonk here:
</p>
<form action="/stocks/lookup">
  <label>
    Stock Symbol to Search:
    <input type="text" name="stock_symbol">
  </label>
    <input type="submit" name="" value="Lookup your stonk!">

</form>

<br>

<%= image_tag 'https://media3.giphy.com/media/YnkMcHgNIMW4Yfmjxr/giphy.gif?cid=6104955e4496ed2db4751ac99127b639c2da9adc99f33a7d&rid=giphy.gif' %>
